* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    background-color: black;
    color: white;
    min-height: 400px;
    padding: 40px 10px;
}

h1 {
    font-size: 60px;
    padding: 30px 10px;
}

h2 {
    padding-bottom: 40px;
}

/* NAV BAR */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: white;
    font-size: 14px;
    position: fixed;
    z-index: 10;
    
}

.login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

/* PRIMA SEZIONE  */

.first-background {
    background-color: #b4d0e7;
    position: relative;
    top: 10px;
}

.jumbotron {
    max-width: 100%;
    margin: auto;
}

.presentation-par {
    position: relative;
    margin: auto;
    top: 80px;
    width: 960px;
    padding: 30px 0;
}

.first-container {
    display: flex;
}

.col {
    line-height: 20px;
    position: relative;
    top: 20px;
}

.col1 {
    width: 40%;
}

.col2 {
    width: 60%;
}

.button-blue {
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 10px 12px;
}

.button-blue:hover {
    background-color: blue;
}

.little-button {
    padding: 3px 6px;
}

.jumbo-img {
    max-height: 400px;
}

.button-try {
    margin: 20px 0;
}

.icon-arrow {
    padding: 70px 0;
}

/* SECONDA SEZIONE */

.second-sec {
    width: 100%;
    min-height: 800px;
    padding: 100px 0;
}

.second-container {
    width: 800px;
    margin: auto;
    padding: 20px 0;
}

.radio {
    padding-right: 40px;
}

.plans-options {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 20px 0;
}

.colplan {
    width: calc(100% / 3);
    border: 1px solid lightgray;
    min-height: 100%;
}

.col-border {
    border-bottom: 1px solid lightgray;
}

.plan {
    border: 1px solid #e5e5e7;
    text-align: center;
    padding: 5px 0;
}

.col-padding {
    padding: 0 20px;
}

.plan-info {
    list-style: none;
}

.plan-name {
    line-height: 60px;
    font-size: 20px;
    font-weight: 900;
}

.plan-price {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.plan-month {
    color: #797979
}

.plan-list {
    list-style: none;
    padding-top: 50px;
    line-height: 20px;
    font-size: 14px;
}

.plan-description {
    padding: 5px 0;
}

.button-plan {
    margin: 30px 0;
    padding: 10px 25px;
}

.button-plan-contact {
    margin: 30px 0;
    padding: 10px 69px;
}

.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-now {
    color: blue;
    text-decoration: underline;
}

.half-hr {
    color: lightgray;
    margin-left: 10px;
    margin-right: 165px;
    margin-top: 70px;
}

.salient-points {
    padding-top: 50px;
    padding-bottom: 40px;
}

.plan-doing {
    list-style: none;
    padding-top: 20px;
    line-height: 20px;
    font-size: 14px;
}

.team-plan {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    gap: 30px;
    border: 1px solid #e5e5e7;
    min-height: 200px;
}

.span-1 {
    width: 70%;
}

.span-2 {
    margin-top: 15px;
}

/* TERZA SEZIONE  */

.third-sec {
    width: 100%;
    padding: 50px 0;
}

.third-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 800px;
    margin: auto;
}

.partner-text {
    padding: 20px 50px;
}

.partner-img {
    max-width: 400px;
}

.padding20 {
    padding: 20px 0;
}

.button-grey {
    margin-top: 20px;
    padding: 8px;
}

/* QUARTA SEZIONE  */

.fourth-sec {
    width: 100%;
    min-height: 600px;
    padding: 50px 0;
}

.fourth-container {
    max-width: 800px;
    margin: auto;
    gap: 10px;
}

.op {
    padding-bottom: 20px;
}

.operations {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.op-img {
    max-width: 220px;
}

.fifth-sec {
    width: 100%;
    min-height: 300px;
    padding: 50px 0;
}

/* QUINTA SEZIONE */
.fifth-container {
    max-width: 800px;
    margin: auto;
}

.buyers {
    width: 60%;
}

/* SESTA SEZIONE  */

.square-row {
    display: flex;
}

.square-container {
    flex-grow: 1;
    flex-basis: 0;
}

.square-wrap {
    display: flex;
    flex-wrap: wrap;
}

.big-square {
    padding: 40px;
    background-color: #f5f5f5;
}

.big-square-space {
    padding: 20px 0;
}

.hr-design {
    margin-right: 385px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(100vw / 6);
}

.bg-design {
    background-color: #a2d39b;
}

.bg-arizona {
    background-color: #61082b;
}

.bg-florida {
    background-color: #0093ce;
}

.bg-topps {
    background-color: #ff1c1c;
}

.bg-bycicle {
    background-color: #d5001f;
}

.bg-hearst {
    background-color: #b4d0e7;
}

.bg-lonely {
    background-color: #0d2481;
}

.bg-clear {
    background-color: #ffd830;
}

.img-width-50  {
    width: 50%;
    filter: invert(1);
}

.img-50-standard {
    width: 50%;
}


/* SETTIMA SEZIONE */
.seventh-sec {
    background-color: lightblue;
    padding: 80px 0;
}

.seventh-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border: 1px dashed red;
}

.title-try {
    color: #61082b;
    padding: 0;
}

.eight-sec {
    min-height: 500px;
    padding: 50px 0;
}

.eight-container {
    max-width: 700px;
    margin: auto;
}

.freq-quest {
    padding: 30px 0;
}

.footer-container {
    max-width: 960px;
    margin: auto;
    border: 1px dashed red;
}

.footer-flex {
    display: flex;
    justify-content: space-around;
    border: 1px dashed red;
}

.footlist {
    list-style: none;
}